Source: digimend-userspace-drivers
Section: libs
Priority: optional
Maintainer: Nikolai Kondrashov <spbnick@gmail.com>
Build-Depends: debhelper-compat (= 12), autoconf-archive, pkg-config, libusb-1.0-0-dev
Standards-Version: 4.5.0
Homepage: https://github.com/DIGImend/digimend-userspace-drivers/
Vcs-Browser: https://github.com/DIGImend/digimend-userspace-drivers/
Vcs-Git: https://github.com/DIGImend/digimend-userspace-drivers.git
Rules-Requires-Root: no

Package: digimend-userspace-drivers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Userspace drivers and tools for various graphics tablets
 Digimend-userspace-drivers is a collection of userspace drivers and tools
 making various graphics tablets work on Linux.
